# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>NumPy</li>
    <li>Pandas</li>
    <li>SciKit</li>
    <li>Keras</li>
</ol>

<table style="width:20%">>
<tr>
<th>Data Science Tools</th>
</tr>
<tr>
<td>Jupyter Notebook</td>
</tr>
<tr>
<td>Apache Spark</td>
</tr>
<tr>
<td>Tableau</td>
</tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python.

### Add
`3 + 5` evaluates to **8**

### Subtraction
`10 - 4` evaluates to **6**

### Multiplication
`6 * 7` evaluates to **42**

### Division
`15 / 3` evaluates to **5.0**

In [1]:
# This a simple arithmetic expression to mutiply then add integers 

(3*4)+5

17

In [3]:
#  This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

### <b>Objectives::</b>
1. Introduction to Jupyter Notebook
2. Tools required in Data Science
3. Introduction to GitHub

### List popular languages for Data Science:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>Scala</li>
</ol>

## Author
Sachin Kumar